# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Virtual environment
env/
venv/

# Distribution / packaging
*.egg
*.egg-info/
dist/
build/
wheels/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.coverage
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Pytest cache
.pytest_cache/

# Other files and directories to ignore
*.log
*.sqlite3
*.db
*.pkl

# Ignore data directory contents
!data/.gitkeep   # Keep the folder but ignore its contents

# Ignore models directory contents
models/*
!models/.gitkeep # Keep the folder but ignore its contents

# Ignore editor-specific files
.vscode/
.idea/

# macOS files
.DS_Store

# Windows files
Thumbs.db

# Streamit
.streamlit/*

rag_test_result.html
index/*
data/*

.env

